
body{
  font-family: "Montserrat";
}

#title
{
  background-color: #ff4c68;
  color: white;
}

p{
  color:#8f8f8f;
}
h1{
  font-family:"Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-weight:bold;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Container for title section */
.container-fluid{
  padding: 3% 15% 7%;
}

/* Navbar */
.navbar{
  padding:0 0 4.5rem;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;

}
.navbar-brand::first-letter{
text-transform: lowercase;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: lighter;
}
/* download  button */
.download-btn{
  margin:5% 3% 5% 0;
}

/* Title image */

.title-image{
  width: 20%;
  transform:rotate(25deg);
  position: absolute;
  right:22%;
}
@media (max-width:1024px){
  .title-image{
    position: static;

    transform: rotate(0);
    width: 60%;

  }
  #title{
    text-align: center;
  }
}
/* feartures section */
#features{
  padding: 7%;
  background-color: #fff;
  position: relative;
}
.feat-div{
  text-align:center;
  padding:50px;
}
/* fontawesome icons */
.feat{
  color: #ef8172;
  padding:10px;
}
.feat:hover{
  color:#ff4c68;
}

/* testimonials section */
#testimonials{
text-align: center;
background-color:#ef8172;
color:white;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
/* Pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

/* Call to action section */
#cta{
  background-color: #ff4c68;
  margin:3% 5%;
  padding:5% 17% 10%;
  height: 500px;
  color: white;
  text-align: center;
}
.cta-h3{
  font-family: "Montserrat";
  font-weight:bold;
  line-height: 1.5;
  font-size:3.5rem;
}
/* Footer section */
#footer{
  text-align: center;
  background-color: #fff;
  padding:5%;
}
/* Footer buttons */
.footer-btn{
  padding: 1%;
  margin-bottom: 2%;
  border:0;
  background-color: #fff;
}
